<section>
    <div class="sideBySide">
        <div class="aboutDisplay">
            <img class="singleShoeImage" src="../images/Professional Shot 1 - December 2016.jpg" />
        </div>
        <div class="contactInfo">
            <ul>
                <li>Developer of this site: Corey Harville</li>
                <li>Graduate, Full Immersion Web Development Program</li>
                <li>DevMountain Coding Bootcamp</li>
                <li>Provo, Utah Campus</li>
                <br>
                <li>Please feel free to contact me with any additional questions, comments or concerns!</li>
                <li><a class="contactLinks" href="mailto:coreyharvillewebdev@gmail.com ">CoreyHarvilleWebDev@GMail.com</a></li>
                <li>Phone: 678-296-8401</li>
                <li><a class="contactLinks" href='https://www.linkedin.com/in/coreyharville/' target="blank">My LinkedIn Profile</a></li>
                <li><a class="contactLinks" href='http://coreyharville.com/' target="blank">My Portfolio</a></li>
                <li><a class="contactLinks" href="https://github.com/djcamilleon" target="_blank">My GitHub Profile</a></li>
                <li><a class="contactLinks" href="https://drive.google.com/file/d/0B6RgoWfBJmvaZXpaYzBkQ2V1UUU/view?usp=sharing" target="_blank">My Resume</a></li>
            </ul>
        </div>
    </div>
    <div class="techUsed">
        <h1 class="techHeader">Technologies Used To Complete This Project Include:</h1>
        <div class="ulList">
            <ul>
                <li>Angular 1.6</li>
                <ul style="margin-left: 20px">
                    <li>Angular UI-Router</li>
                    <li>Directives</li>
                    <li>$http</li>
                    <li>$q</li>
                    <li>Angular-Slick-Carousel
                </ul>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>JQuery</li>
                <li>Node</li>
                <li>Massive</li>
                <li>ElephantSQL Database</li>
                <li>Font-Awesome</li>
            </ul>
        </div>
    </div>
    <div class="techUsed2">
        <h1 class="techHeader">Special Thanks:</h1>
        <div class="ulList">
            <ul>
                <li>Nick Mastracola: Project Name</li>
            </ul>
        </div>
    </div>
    <!--<div class="techUsed2">
        <h1 class="techHeader">Special Thanks:</h1>
        <div class="ulList">
            <ul>
                <li>Web DM-17 Cohort</li>
                <ul style="margin-left: 20px">
                    <li>Marc-Andy Noele Jeune:
                        <ul>
                            <li>Carousel (attempt)</li>
                            <li>CSS</li>
                        </ul>
                    </li>
                    <li>Nick Mastracola:
                        <ul>
                            <li>Project Name</li>
                            <li>CSS and Design Elements</li>
                        </ul>
                    </li>
                    <li>Thai Tran
                        <ul>
                            <li>New Shoe Form (Bootstrap)</li>
                        </ul>
                    </li>
                    <li>Administrators Jeremy Robertson, Brett Caudill and Brack Carmony
                        <ul>
                            <li>Initial Database Arrangement Concepts</li>
                        </ul>
                    </li>
                    <li>Mentor Brett Gardiner
                        <ul>
                            <li>Angular-Slick-Carousel</li>
                        </ul>
                    </li>
                    <li>Mentor Doug Maxfield
                        <ul>
                            <li>Blueprint Design Concepts</li>
                        </ul>
                    </li>
                    <li class="scottGourley">last, BUT NOT LEAST, Lead Mentor Scott Gourley
                        <ul>
                            <li>NEARLY EVERYTHING ELSE!!</li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>-->
</section>