<section>
    <div class="sideBySide">
        <div class="aboutDisplay">
            <img class="singleShoeImage" src="../images/Professional Shot 1 - December 2016.jpg" />
        </div>
        <div class="contactInfo">
            <ul>
                <li>Developer of this site: Corey Harville</li>
                <li>Full Immersion Web Development Student</li>
                <li>DevMountain Coding Bootcamp</li>
                <li>Provo, Utah Campus</li>
                <br>
                <li>Please feel free to contact me with any additional questions, comments or concerns!</li>
                <li>Email: CoreyHarvilleWebDev@GMail.com</li>
                <li>Phone: 678-296-8401</li>
                <li>
                    <span>Find Me via <a class='linkedIn' href='https://www.linkedin.com/in/corey-harville-90b76935' target="blank">LinkedIn!</a></span>
                </li>
            </ul>
        </div>
    </div>
</section>