<section class='background'>
    <div class="home-welcome">
        <h1 class='animated lightSpeedIn'>Welcome to SneakerBase, the sneaker database with Google Calendar functionality!</h1>
    </div>
    <div class="mission">
        <p class='animated lightSpeedIn'>Mission Statement:</p>
        <p class='animated lightSpeedIn'>To provide an easy-to-use way to manage your Sneaker Collection as it changes and to track what sneakers you've worn by adding them to your Google Calendar!</p>
    </div>
    <div>
        <p class='animated lightSpeedIn'>You are invited to login using your Google credentials to utilize all of these amazing features!
        <br>
        <br>
        Or you can check out the Walk-Thru Video of the site provided on the Login Page!
        </p>
    </div>
    <div>
        <button ui-sref='login' class='loginButton'>Go To Login Page!</button>
    </div>
</section>