<section class='loginBackground'>
    <div class='buttons'>
        <a href="/auth/google" class='googleLinks'>
            <button class='loginButton-2'>Login</button>
        </a>
        <a href="/logout" class='googleLinks'>
            <button class='logoutButton'>Logout</button>
        </a>
    </div>
    <div class='testLoginInfo'>
        Test Login Information:<br>
        Email Address: sneakerbasetestlogin@gmail.com<br>
        Password: Tester101<br>
        The password includes a capital 'T'.<br>
        <br>
        This test login includes a partial sample<br>
        of my personal collection, so please<br>
        feel free to look around! If you<br>
        have any questions, reach out to me<br>
        at SneakerBaseTestLogin@GMail.com!
        <!--<div ng-if=''></div>-->
    </div>
</section>