<div class="addShoePage">
    <!--<div><span class="spanAlignment"><u>Add New Shoe</u></span>
        <div>-->
    <h1 class="addShoeHeader">
        <u>Add New Shoe</u>
    </h1>
    <h2 class="addShoeHeader2">Get Started Below</h2>

    <form class="form-group shoeForm" role="form">
        <div class="form-group">
            <label class="col-lg-3 control-label">Brand:</label>
            <div class="col-lg-3">
                <input class="form-control" ng-model='register.brand' type="text" placeholder="Brand">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Model:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.model' type="text" placeholder="Model">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Nickname:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.nickname' type="text" placeholder="Nickname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Colorway:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.colorway' type="text" placeholder="Colorway">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Primary Color:</label>
            <div class="col-lg-3">
                <input class="form-control" ng-model='register.primary_color' type="text" placeholder="Primary Color - The predominate color">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Style Code:</label>
            <div class="col-lg-8">
                <input class="form-control" ng-model='register.style_code' type="text" placeholder="Style Code - Usually found on the box or on tag inside shoe">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Size:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.size' type="text" placeholder="Size">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Details:</label>
            <div class="col-lg-8">
                <input class="form-control" ng-model='register.details' type="text" placeholder="Details - Cool additional information about the shoe">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Release Date:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.release_date' type="text" placeholder="Release Date - Typed out as February 25, 2013">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Price:</label>
            <div class="col-lg-3">
                <input class="form-control" ng-model='register.price' type="text" placeholder="Price - At the time of release">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Associated Athlete:</label>
            <div class="col-lg-3">
                <input class="form-control" ng-model='register.associated_athlete' type="text" placeholder="Associated Athlete - If applicable">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Forefoot Cushioning:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.forefoot_cushioning_technology' type="text" placeholder="Forefoot Cushioning Technology - If applicable">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Heel Cushioning:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.heel_cushioning_technology' type="text" placeholder="Heel Cushioning Technology - If applicable">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Type:</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model='register.type' type="text" placeholder="Type - Basketball, Cross Training, Running, etc.">
            </div>
        </div>

        <div class="form-group">
            <label class="labels"></label>
            <div class="col-md-8" class="submitNewShow">
                <div><input type="reset" class="btn btn-default" value="Reset"></div>
            </div>
        </div>
    </form>
</div>
</div>

<h1 class="addShoeHeader">
    <u>Add Features</u>
</h1>
<h2 class="addShoeHeader2">Add features for your shoe here. Features are unique aspects or design touches about this particular model or colorway.</h2>

<form class="form-group shoeForm" role="form">
    <div class="form-group" ng-repeat="feature in newShoeFeatures.features track by $index">
        <label class="col-lg-3 control-label">Feature {{$index + 1}}:</label>
        <div class="col-lg-6">
            <input class="form-control" ng-model='feature.text' type="text" placeholder="Feature {{$index + 1}}">
        </div>
    </div>

    <div class="form-group">
        <label class="labels"></label>
        <div class="col-md-8">
            <span></span>
            <div><button type="button" ng-click="addFeature()">Add feature</button></div>
            <div class='resetButtonWrapper'><input type="reset" class="btn btn-default" value="Reset"><div>
        </div>
    </div>
    </div>


    <h1 class="addShoeHeader">
        <u>Add Links</u>
    </h1>
    <h2 class="addShoeHeader2">Add links to webpages to get more information about this shoe. Make sure the first one provides the most information
        about this model!</h2>


    <div class="form-group" ng-repeat="link in newShoeFeatures.links track by $index">
        <label class="col-lg-3 control-label">Link {{$index + 1}}:</label>
        <div class="col-lg-8">
            <input class="form-control" ng-model='link.text' type="text" placeholder="Link {{$index + 1}}">
        </div>
    </div>

    <div class="form-group">
        <label class="labels"></label>
        <div class="col-md-8">
            <span></span>
            <div><button ng-click="addLinks()">Add Link</button></div>
            <div class='resetButtonWrapper'><input type="reset" class="btn btn-default" value="Reset"></div>
        </div>
    </div>
    </div>


    <h1 class="addShoeHeader">
        <u>Add Photos</u>
    </h1>
    <h2 class="addShoeHeader2">Add links to online photos of this model. The first photo will be used on Your Profile page so make sure it's a good
        one!
    </h2>

    <div class="form-group" ng-repeat="photo in newShoeFeatures.photos track by $index">
        <label class="col-lg-3 control-label">Photo:</label>
        <div class="col-lg-8">
            <input class="form-control" ng-model='photo.text' type="text" placeholder="Photo">
        </div>
    </div>

    <div class="form-group">
        <label class="labels"></label>
        <div class="col-md-8" class="submitDetails">
            <div><button ng-click="addPhotos()"> Add Photos</button><div>
            <div class='resetButtonWrapper'><input type="reset" class="btn btn-default" value="Reset"></div>
            <div class="submitNewShoeButtonWrapper"><input type="button" class="submitNewShoeButton" ng-click='registerNewShoe(register)' value="Submit New Shoe"></div>
        </div>
    </div>
</form>
</div>
</div>