<section ng-init="init()">
    <div class="buttonsDiv">
        <button class='profileReturnButton'>
            <!-- <a href="/#!/profile" onclick="location.reload()">Back To Profile</a> -->
            <a href="/#!/profile">Back To Profile</a>
        </button>
        <button ng-click="deleteShoeFromUser(shoe.id)" class='deleteShoeFromProfileButton'>
            Delete Shoe From Profile
        </button>
        <button class="googCalButton">
            <a href="https://www.google.com/calendar" target="blank">Google Calendar</a>
        </button>
    </div>


    <div class="picAndData">
        <div class="singleImageBox">
            <slick settings='slickConfig' init-onload='true' ng-if='slickOn' slides-to-show=1 slides-to-scroll=1>
                <!--<div ng-repeat='photo in shoeTest.photos' class="singleImageBox">-->
                <img ng-repeat='photo in shoe.photos' class="singleShoeImage" ng-src="{{photo}}" />
                <!--</div>-->
            </slick>
        </div>
        <br>
        <div class="shoeData">
            <div class="singleShoeTitle">
                {{shoe.brand}}<br> {{shoe.model}}
                <br>
                <span ng-if="shoe.nickname != null">{{shoe.nickname}}</span>
            </div>
            <div class="shoeInfo">
                <span ng-if="shoe.associated_athlete != null">Associated Athlete: {{shoe.associated_athlete}}<br></span>
                <span ng-if='shoe.colorway != null'>Colorway: {{shoe.colorway}}<br></span>
                <span ng-if='shoe.style_code != null'>Style Code: {{shoe.style_code}}<br></span>
                <span ng-if='shoe.size != null'>Size Owned: {{shoe.size}}<br></span>
                <span ng-if='shoe.primary_color != null'>Primary Color of Upper: {{shoe.primary_color}}<br></span>
                <span ng-if='shoe.type != null'>Type: {{shoe.type}}<br></span>
                <span ng-if="shoe.release_date != null">Release Date: {{shoe.release_date}}<br></span>
                <span ng-if='shoe.price != null'>Price at Time of Release:{{shoe.price}}<br></span>
                <span ng-if="shoe.forefoot_cushioning_technology != null">Forefoot Cushioning: {{shoe.forefoot_cushioning_technology}}<br></span>
                <span ng-if="shoe.heel_cushioning_technology != null">Heel Cushioning: {{shoe.heel_cushioning_technology}}<br></span>
                <span ng-if="shoe.features[0] != null">Notable Feature: {{shoe.features[0]}}<br></span>
                <span ng-if="shoe.features[1] != null">Notable Feature: {{shoe.features[1]}}<br></span>
                <span ng-if="shoe.features[2] != null">Notable Feature: {{shoe.features[2]}}<br></span>
                <span ng-if="shoe.features[3] != null">Notable Feature: {{shoe.features[3]}}<br></span>
                <span ng-if="shoe.features[4] != null">Notable Feature: {{shoe.features[4]}}<br></span>
                <span ng-if="shoe.features[5] != null">Notable Feature: {{shoe.features[5]}}<br></span>
                <span ng-if="shoe.features[6] != null">Notable Feature: {{shoe.features[6]}}<br></span>
                <span ng-if="shoe.features[7] != null">Notable Feature: {{shoe.features[7]}}<br></span>
                <span ng-if="shoe.links[0] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[0]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[1] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[1]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[2] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[2]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[3] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[3]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[4] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[4]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[5] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[5]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
            </div>
        </div>
    </div>
    <div class="shoeDetails">
        {{shoe.details}}
    </div>










</section>