<section ng-init="init()">
    <div class="buttonsDiv">
        <button class='profileReturnButton'>
            <a href="/#!/profile" onclick="location.reload()">Back To Profile</a>
        </button>
        <!--ng-click="addShoeToProfile(shoe)"-->
        <button class='addShoeToProfileButton'>
            Add Shoe To Profile
        </button>
        <!--<div class="googleDiv">-->
        <button class="googCalButton">
            <a href="https://www.google.com/calendar" target="blank">Google Calendar</a>
        </button>
        <!--<span class="googleText">Add the date you wore these directly to your Google Calendar!</span>-->
        <!--s-->
    </div>


    <div class="picAndData">
        <div class="singleImageBox">
            <slick settings='slickConfig' init-onload=true ng-if='slickOn' slides-to-show=1 slides-to-scroll=1>
                <!--<div ng-repeat='photo in shoeTest.photos' class="singleImageBox">-->
                <img ng-repeat='photo in shoe.photos' class="singleShoeImage" ng-src="{{photo}}" />
                <!--</div>-->
            </slick>
        </div>
        <br>
        <div class="shoeData">
            <div class="singleShoeTitle">
                {{shoe.brand}} {{shoe.model}}
                <br> {{shoe.nickname}}
            </div>
            <div class="shoeInfo">
                <span ng-if="shoe.associated_athlete != null">Associated Athlete: {{shoe.associated_athlete}}<br></span>
                Colorway: {{shoe.colorway}}<br>
                Primary Color of Upper: {{shoe.primary_color}}<br> 
                Type: {{shoe.type}}<br> 
                <span ng-if="shoe.release_date != null">Release Date: {{shoe.release_date}}<br></span> 
                Price at Time of Release: {{shoe.price}}<br> <span ng-if="shoe.forefoot_cushioning_technology != null">Forefoot Cushioning: {{shoe.forefoot_cushioning_technology}}<br></span>
                <span ng-if="shoe.heel_cushioning_technology != null">Heel Cushioning: {{shoe.heel_cushioning_technology}}<br></span>
                <span ng-if="shoe.features[0] != null">First Feature: {{shoe.features[0]}}<br></span> <span ng-if="shoe.features[0] != null">Second Feature: {{shoe.features[1]}}<br></span> 
                <span>Link For More Info: <a class="anchor" ng-href="{{shoe.links[0]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[1] != null">Link For More Info:
                <a class="anchor" ng-href="{{shoe.links[1]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
                <span ng-if="shoe.links[2] != null">Link For More Info: <a class="anchor" ng-href="{{shoe.links[2]}}" target="blank">{{shoe.model}} {{shoe.nickname}}</a><br></span>
            </div>
            <div class="shoeDetails">
                {{shoe.details}}
            </div>
        </div>
    </div>










</section>