<section id="page-top" class="profile">
    <section class="searchMenu">
        <input class="searchBox" ng-model="search" placeholder="Search By Keyword" style="color: gold"></input>
        <h1 class="filterNameHeader">Filter by Brand:</h1>
        <select class="dropdown" id="Brand" ng-model="filter1">
            <option>Adidas</option>
            <option>Airwalk</option>
            <option>And1</option>
            <option>Anta</option>
            <option>Asics</option>
            <option>Asics Tiger</option>
            <option>Birkenstock</option>
            <option>BrandBlack</option>
            <option>British Knights</option>
            <option>Brooks</option>
            <option>Champion</option>
            <option>Converse</option>
            <option>Creative Recreation</option>
            <option>Crocs</option>
            <option>Crossover Culture</option>
            <option>DC Shoes</option>
            <option>Diadora</option>
            <option>Dr. Martens</option>
            <option>Emerica</option>
            <option>eS Skateboarding</option>
            <option>Etnies</option>
            <option>Etonic</option>
            <option>Ewing</option>
            <option>Fila</option>
            <option>FitFlop</option>
            <option>Havaianas</option>
            <option>Jordan Brand</option>
            <option>K-Swiss</option>
            <option>Lakai</option>
            <option>New Balance</option>
            <option>Nike</option>
            <option>No Bull Project</option>
            <option>North Face</option>
            <option>Puma</option>
            <option>Reebok</option>
            <option>Salomon</option>
            <option>Saucony</option>
            <option>Skechers</option>
            <option>SNKR Project</option>
            <option>Supra</option>
            <option>Timberland</option>
            <option>Tretorn</option>
            <option>Umbro</option>
            <option>Under Armour</option>
            <option>Vans</option>
            <option>Vibram</option>
        </select>
        <h1 class="filterNameHeader">Filter by Athlete <br> or Celebrity Stylist:</h1>
        <select class="dropdown" id="Athlete" ng-model="filter2">
            <option>Allen Iverson</option>
            <option>André Benjamin aka André 3000 of OutKast</option>
            <option>Anfernee "Penny" Hardaway</option>
            <option>Calvin "Megatron" Johnson</option>
            <option>Cameron "Cam" Newton</option>
            <option>Carmelo Anthony</option>
            <option>Chad Muska</option>
            <option>Charles Barkley</option>
            <option>Chris Paul</option>
            <option>Chris Webber</option>
            <option>Chuck Taylor</option>
            <option>Collin Provost</option>
            <option>Damian "Dame" Lillard</option>
            <option>DeMarcus "Boogie" Cousins</option>
            <option>Dennis Rodman</option>
            <option>Derek Jeter</option>
            <option>Derrick Rose</option>
            <option>Dwayne Wade</option>
            <option>Emmitt Smith</option>
            <option>Gilbert Crockett</option>
            <option>Grant Hill</option>
            <option>Hideo Nomo</option>
            <option>James "The Beard" Harden</option>
            <option>Jason Kidd</option>
            <option>John Wall</option>
            <option>Ken Griffey Jr.</option>
            <option>Kevin Durant</option>
            <option>Klay Thompson</option>
            <option>Kobe Bryant</option>
            <option>Kyrie Irving</option>
            <option>LeBron James</option>
            <option>Michael Jordan</option>
            <option>Michigan Wolverines Basketball Team</option>
            <option>Michigan Wolverines Football Team</option>
            <option>Patrick Ewing</option>
            <option>Paul George</option>
            <option>Odell Beckham Jr.</option>
            <option>Rasheed Wallace</option>
            <option>Rod Laver</option>
            <option>Russell Westbrook</option>
            <option>Scottie Pippen</option>
            <option>Shawn Kemp</option>
            <option>Stefan Janoski</option>
            <option>Stephen "Steph" Curry</option>
            <option>Stephon Marbury</option>
            <option>Tim Duncan</option>
            <option>Tim Hardaway</option>
            <option>Tracy McGrady</option>
            <option>Vince Carter</option>
        </select>
        <h1 class="filterNameHeader">Filter by Primary Color:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter3">
            <option>Black</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Burgundy</option>
            <option>Camo-Black/White/Grey</option>
            <option>Camo-Green</option>
            <option>Camo-White</option>
            <option>Cheetah Print</option>
            <option>Crimson</option>
            <option>Gold</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Metallic Gold</option>
            <option>Multicolor</option>
            <option>Multicolor Fade</option>
            <option>Navy</option>
            <option>Orange</option>
            <option>Purple</option>
            <option>Red</option>
            <option>Red-Orange</option>
            <option>Reflective Black</option>
            <option>Reflective Silver</option>
            <option>Royal Blue</option>
            <option>Silver</option>
            <option>Tan/Beige</option>
            <option>Volt</option>
            <option>White</option>
            <option>Xeno Reflective Black</option>
            <option>Xeno Reflective Yellow</option>
            <option>Yellow</option>
        </select>
        <h1 class="filterNameHeader">Filter by Accent Color 1:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter7">
            <option>Black</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Burgundy</option>
            <option>Copper</option>
            <option>Cork</option>
            <option>Cream</option>
            <option>Crimson</option>
            <option>Dark Red</option>
            <option>Glow In The Dark</option>
            <option>Gold</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Gum</option>
            <option>Mango</option>
            <option>Multicolor</option>
            <optio>Navy</optio>
            <option>Orange</option>
            <option>Pink</option>
            <option>Purple</option>
            <option>Purple/Pink/Orange Sunset Fade</option>
            <option>Red</option>
            <option>Red/Yellow/Orange Fade</option>
            <option>Sail</option>
            <option>Silver</option>
            <option>Speckled White</option>
            <option>Tan/Beige</option>
            <option>Turquoise</option>
            <option>White</option>
            <option>Yellow</option>
        </select>
        <h1 class="filterNameHeader">Filter by Accent Color 2:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter8">
            <option>Black</option>
            <option>Blue</option>
            <option>Blue, White, Black and Gold Speckle</option>
            <option>Brown</option>
            <option>Cream</option>
            <option>Gold</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Grey/White/Black Marble</option>
            <option>Gum</option>
            <option>Kente</option>
            <option>Orange</option>
            <option>Purple</option>
            <option>Purple and Yellow</option>
            <option>Red</option>
            <option>Reflective Silver</option>
            <option>Silver</option>
            <option>White</option>
            <option>Yellow</option>
        </select>
        <h1 class="filterNameHeader">Filter by Shoe Type:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter4">
            <option>Baseball Cross Trainer</option>
            <option>Basketball</option>
            <option>Basketball Cross Trainer</option>
            <option>Basketball Lifestyle</option>
            <option>Boot</option>
            <option>Casual</option>
            <option>Cross Trainer</option>
            <option>Football Cross Trainer</option>
            <option>Hiking</option>
            <option>Running</option>
            <option>Sandal</option>
            <option>Skateboarding</option>
            <option>Sneaker Boot</option>
            <option>Soccer</option>
            <option>Tennis</option>
            <option>Trail Running</option>
            <option>Walking</option>
        </select>
        <h1 class="filterNameHeader">Filter by Feature:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter5">
            <option>Alternate Laces</option>
            <option>Bought Used</option>
            <option>Carbon Fiber</option>
            <option>Collaboration</option>
            <option>Daily Drivers</option>
            <option>Foamposite</option>
            <option>Huarache-style Fit</option>
            <option>Lace Lock</option>
            <option>Laceless Upper</option>
            <option>Laser-Etching</option>
            <option>Michigan Wolverines</option>
            <option>OG‘s</option>
            <option>Patent Leather</option>
            <option>Reflective</option>
            <option>StockX</option>
            <option>Strap</option>
            <option>Waterproof</option>
            <option>Retired</option>
            <option>Sold</option>
        </select>
        <h1 class="filterNameHeader">Filter by Designer:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter6">
            <option>Aaron Cooper</option>
            <option>Benjamin Nethongkome</option>
            <option>Bruce Kilgore</option>
            <option>Charles "Chuck" Taylor</option>
            <option>D’Wayne Edwards</option>
            <option>David Raysse</option>
            <option>E. Scott Morris</section>
            <option>Eric Avar</option>
            <option>Gentry Humphrey</option>
            <option>George Robusti</option>
            <option>James Carnes</option>
            <option>Jason Mayden</option>
            <option>Jason Petrie</option>
            <option>Jeff Staple</option>
            <option>Jeremy Sallee</option>
            <option>Justin Taylor</option>
            <option>Ken Link</option>
            <option>Leo Chang</option>
            <option>Marc Dolce</option>
            <option>Nic Galway</option>
            <option>Peter C. Moore</option>
            <option>Rob Lee</option>
            <option>Robbie Fuller</option>
            <option>Roy Yun</option>
            <option>Scott Hewett</option>
            <option>Sinisa Egelja</option>
            <option>Tate Kuerbis</option>
            <option>Tinker Hatfield</option>
            <option>Tinker Hatfield & Mark Smith</option>
            <option>Tinker Hatfield & Tom Luedecke</option>
            <option>Tom Luedecke</option>
            <option>Tony Hardman</option>
            <option>Tracy Teague</option>
            <option>Tuan Le</option>
            <option>Wilson Smith</option>
        </select><br>
        <button class="resetButton" ng-click="resetPage()" onclick="location.reload()">Reset</button>
    </section>



    <section href="#topSingleShoe" class="shoeDisplay">
        <div class="totalValueWrapper">
            <div>
                <h1 ng-if="user" class="welcome">Welcome back, {{user[0].first_name}}!</h1>
            </div>
            <div>
                <h2 ng-if="shoes" class="totalValue">The total value of your Sneaker Collection is ${{value}}.</h2>
            </div>
        </div>
        <!--create a div, ng-if !loggedin "please log in to see shoes-->
        <!-- <div ng-repeat="shoe in shoes | orderBy:['brand','model','nickname'] | filter: search | filter: { brand:filter1 } | filter: { associated_athlete:filter2 } | filter: { primary_color:filter3 } | filter: { type:filter4 } | filter: { features:filter5 } | filter: { designer:filter6 } | filter: { accent_color1:filter7 } | filter: { accent_color2:filter8 }"
            ng-click="singleShoeView(shoe)">
            <div class="shoeBox">
                <div class="imageBox">
                    <img class="shoeImage" src="{{shoe.photos[0]}}" />
                </div>
                <div class="shoeTitle">
                    {{shoe.brand}}<br> {{shoe.model}}
                    <br>
                    <span ng-if="shoe.nickname != null">{{shoe.nickname}} - </span> {{shoe.price}}
                </div>
            </div>
        </div> -->

        <div ng-repeat="shoe in shoes | orderBy:['brand','sort_model','nickname'] | filter: search | filter: { brand:filter1 } | filter: { associated_athlete:filter2 } | filter: { primary_color:filter3 } | filter: { type:filter4 } | filter: { features:filter5 } | filter: { designer:filter6 } | filter: { accent_color1:filter7 } | filter: { accent_color2:filter8 }"
            ng-click="singleShoeView(shoe)">
            <div class="shoeBox">
                <div class="imageBox">
                    <img class="shoeImage" src="{{shoe.photos[0]}}" />
                </div>
                <div class="shoeTitle">
                    {{shoe.brand}}<br> {{shoe.display_model}}
                    <br>
                    <span ng-if="shoe.nickname != null">{{shoe.nickname}} - </span> {{shoe.price}}
                </div>
            </div>
        </div>

        <!--<div class="backToTop">
                <div class="topOfPageChevron">
                    <a href="#page-top" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-up animated"></i>
                    </a>
                </div>
                <div class="back-to-top topOfPageText"><a style="color:red;" href="#page-top">Back To Top</a></div>
            </div>-->
    </section>