<section id="page-top" class="profile">
    <section class="searchMenu">
        <input class="searchBox" ng-model="search" placeholder="Search By Keyword" style="color: gold"></input>
        <h1 class="filterNameHeader">Filter by Brand:</h1>
        <select class="dropdown" id="Brand" ng-model="filter1">
            <option>Adidas</option>
            <option>Asics</option>
            <option>Converse</option>
            <option>Crocs</option>
            <option>DC Shoes</option>
            <option>Dr. Martens</option>
            <option>Ewing</option>
            <option>Fila</option>
            <option>FitFlop</option>
            <option>Jordan Brand</option>
            <option>New Balance</option>
            <option>Nike</option>
            <option>Reebok</option>
            <option>Saucony</option>
            <option>Supra</option>
            <option>Timberland</option>
            <option>Vans</option>
        </select>
        <h1 class="filterNameHeader">Filter by Athlete:</h1>
        <select class="dropdown" id="Athlete" ng-model="filter2">
            <option>Allen Iverson</option>
            <option>Anfernee "Penny" Hardaway</option>
            <option>Calvin "Megatron" Johnson</option>
            <option>Carmelo Anthony</option>
            <option>Chad Muska</option>
            <option>Charles Barkley</option>
            <option>Chris Paul</option>
            <option>Chris Webber</option>
            <option>Dennis Rodman</option>
            <option>Derrick Rose</option>
            <option>Dwayne Wade</option>
            <option>Emmitt Smith</option>
            <option>Gilbert Crockett</option>
            <option>Hideo Nomo</option>
            <option>Jason Kidd</option>
            <option>John Wall</option>
            <option>Ken Griffey Jr.</option>
            <option>Kevin Durant</option>
            <option>Kobe Bryant</option>
            <option>LeBron James</option>
            <option>Michael Jordan</option>
            <option>Patrick Ewing</option>
            <option>Rasheed Wallace</option>
            <option>Rod Laver</option>
            <option>Scottie Pippen</option>
            <option>Shawn Kemp</option>
            <option>Tim Hardaway</option>
            <option>Tracy McGrady</option>
        </select>
        <h1 class="filterNameHeader">Filter by Primary Color:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter3">
            <option>Black</option>
            <option>Camo-Black/White/Grey</option>
            <option>Camo-Green</option>
            <option>Camo-White</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Burgundy</option>
            <option>Cheetah Print</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Multicolor Fade</option>
            <option>Orange</option>
            <option>Purple</option>
            <option>Red</option>
            <option>Reflective Silver</option>
            <option>Silver</option>
            <option>Volt</option>
            <option>White</option>
            <option>Yellow</option>
        </select>
        <h1 class="filterNameHeader">Filter by Shoe Type:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter4">
            <option>Baseball Cross Trainer</option>
            <option>Basketball</option>
            <option>Basketball Cross Trainer</option>
            <option>Basketball Lifestyle</option>
            <option>Boot</option>
            <option>Cross Trainer</option>
            <option>Football Cross Trainer</option>
            <option>Running</option>
            <option>Skateboarding</option>
            <option>Sneaker Boot</option>
            <option>Tennis</option>
            <option>Trail Running</option>
        </select>
        <h1 class="filterNameHeader">Filter by Feature:</h1>
        <select class="dropdown" id="primary_color" ng-model="filter5">
            <option>Carbon Fiber</option>
            <option>Foamposite</option>
            <option>Huarache-style Fit</option>
            <option>Lace Lock</option>
            <option>Laser-Etching</option>
            <option>Patent Leather</option>
            <option>Reflective</option>
            <option>Strap</option>
            <option>Waterproof</option>
            <option>Retired</option>
            <option>Sold</option>
        </select><br>
        <button class="resetButton" ng-click="resetPage()" onclick="location.reload()">Reset</button>
    </section>



    <section class="shoeDisplay">
        <div class="totalValueWrapper">
            <div><h1 ng-if="user" class="welcome">Welcome back, {{user[0].first_name}}!</h1></div>
            <div><h2 ng-if="shoes" class="totalValue">The total value of your Sneaker Collection is ${{value}}.</h2></div>
        </div>
        <!--create a div, ng-if !loggedin "please log in to see shoes-->
        <div ng-repeat="shoe in shoes | orderBy:['brand','model','nickname'] | filter: search | filter: { brand:filter1 } | filter: { associated_athlete:filter2 } | filter: { primary_color:filter3 } | filter: { type:filter4 } | filter: { features:filter5 } "
            ng-click="singleShoeView(shoe)">
            <div class="shoeBox">
                <div class="imageBox">
                    <img class="shoeImage" src="{{shoe.photos[0]}}" />
                </div>
                <div class="shoeTitle">
                    {{shoe.brand}}<br>
                    {{shoe.model}}<br>
                     <span ng-if="shoe.nickname != null">{{shoe.nickname}} - </span>
                     {{shoe.price}}
                </div>
            </div>
        </div>

        <!--<div class="backToTop">
                <div class="topOfPageChevron">
                    <a href="#page-top" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-up animated"></i>
                    </a>
                </div>
                <div class="back-to-top topOfPageText"><a style="color:red;" href="#page-top">Back To Top</a></div>
            </div>-->
    </section>
</section>