body {
    background-color: #580000;
    color: darkred;
    font-size: 24px;
    white-space: -moz-pre-wrap !important;
    word-break: break-word;
    white-space: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100%;
    word-break: keep-all;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: inherit;
}

.main-header {
    width: 100%;
    height: 5vw;
    background-color: gold;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1;
}

.title {
    word-break: keep-all;
    font-size: 5vw;
    font-family: 'Barrio', cursive;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}

.headerImage {
    height: 100%;
}

.nav {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    text-align: right;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 5vw;
    align-items: center;
    word-wrap: none;
    word-break: none;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.ul-list {
    font-family: 'Amatic SC', cursive;
    font-size: 56px;
}

.ul-list:hover {
    color: gold;
    background: darkred;
    border-radius: 5px;
    font-size: 56px;
    border: none;
    width: auto;
}

.home {
    font-size: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    height: 100vh;
    width: 100%;
    background: url(../images/background-images/dgddxrrft80-cameron-kirby.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
    color: gold;
    position: relative;
}

.home-welcome {
    padding-top: 90px;
    font-size: 42px;
}

.loginBackground {
    height: 100vh;
    width: 100%;
    background: url(../images/background-images/kjsdwqqmadk-yamon-figurs.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 5vw;
}

.loginButton {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 42px;
    border: none;
    width: auto;
    font-family: 'Amatic SC', cursive;
}

.loginButton:hover {
    cursor: pointer;
    background: darkred;
    color: gold;
    font-family: 'Amatic SC', cursive;
}

.mission {
    display: flex;
    flex-direction: column;
    width: 1020px;
    text-align: center;
    padding-left: 20px;
}

.loginButton-2 {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 60px;
    border: none;
    width: 220px;
    font-family: 'Amatic SC', cursive;
}

.loginButton-2:hover {
    cursor: pointer;
    background: darkred;
    color: gold;
}

.logoutButton {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 60px;
    border: none;
    width: 220px;
    font-family: 'Amatic SC', cursive;
}

.logoutButton:hover {
    background: darkred;
    color: gold;
}

.walkThruVideoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    height: auto;
    width: 100vw;
}

.fullScreenRec {
    display: flex;
    font-family: 'Amatic SC', cursive;
    color: gold;
    text-shadow: 2px 2px darkred;
    font-size: 52px;
}

.fullScreenRec2 {
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    color: gold;
    text-shadow: 2px 2px darkred;
    font-size: 36px;
    align-items: center;
}

.walkThruVideo {
    display: flex;
}

.buttons {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vw;
    flex-wrap: wrap;
}

.googleLinks {
    color: darkred;
    text-decoration: none;
    padding-bottom: 4px;
}

.googleLinks:hover {
    color: gold;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 8px;
}

.profile {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-family: 'Barrio', cursive;
}

.searchMenu {
    width: 15vw;
    background: gold;
    position: fixed;
    left: 0;
    top: 5vw;
    height: 100%;
}

.filterNameHeader {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.filterNameHeaderSub {
    font-family: 'Amatic SC', cursive;
}

.dropdown {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    width: 15vw;
    background: darkred;
    color: gold;
}

.dropdown-1 {
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    /* width: 15vw; */
    min-width: 15vw;
    background: darkred;
    color: gold;
}

.dropdown-2 {
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    /* width: 15vw; */
    min-width: 15vw;
    background: darkred;
    color: gold;
}

.dropdown-3 {
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    /* width: 15vw; */
    min-width: 15vw;
    background: darkred;
    color: gold;
}

.resetButton {
    margin-top: 5px;
}

.totalValueWrapper {
    display: flex;
    flex-direction: column;
    width: 84vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.welcome {
    display: flex;
    color: gold;
    font-size: 36px;
}

.totalValue {
    display: flex;
    color: gold;
    font-size: 36px;
    padding-top: 10px;
    flex-wrap: wrap;
}

.shoeDisplay {
    width: 84vw;
    position: relative;
    top: 5vw;
    left: 15vw;
    padding-left: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.side-by-side {
    border: .5px solid darkred;
    height: 100px;
    width: 100px;
}

.searchBox {
    width: 15vw;
    height: 40px;
    background: darkred;
    color: gold;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
}

.searchBox:placeholder {
    font-family: 'Barrio', cursive;
    color: gold;
}

.shoeImage {
    width: 425px;
    height: auto;
    border-radius: 15px;
}

.shoeBox {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 15px;
    height: 450px;
    width: 450px;
    position: relative;
    margin: 15px 15px;
    box-shadow: 0 4px 6px 0 #260000;
    transition: 0.3s;
}

.shoeBox:hover {
    box-shadow: 0 8px 12px 0 #260000;
    cursor: pointer;
    color: gold;
    text-shadow: 2px 1px black;
}

.shoeTitle {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 84vw;
    height: 10vh;
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.picAndData {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}

.singleImageBox {
    /*display: flex;*/
    /*height: 400px;*/
    padding-right: 1%;
    width: 50%;
    overflow: none;
}

.singleShoeImage {
    border-radius: 15px;
}

.shoeData {
    width: 50%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: gold;
    /*margin: auto;*/
}

.singleShoeTitle {
    font-family: 'Barrio', cursive;
    font-size: 36px;
    font-weight: bold;
    padding-top: 5px;
}

.shoeInfo {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    padding-top: 25px;
}

.shoeDetails {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Barrio', cursive;
    font-size: 36px;
    color: gold;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.anchor:hover {
    color: white;
    font-size: 32px;
}

.anchor:active {
    background: black;
    border-radius: 5px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding-top: 7vw;
    padding-bottom: 80px;
}

.profileReturnButton {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    width: 200px;
}

.deleteShoeFromProfileButton {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    width: 300px;
}

.googCalButton {
    background: gold;
    color: darkred;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    width: 200px;
}

.googleDiv {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 60px;
}

.googleText {
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.addShoePage {
    padding-top: 5vw;
}

.addShoeHeader {
    font-family: 'Barrio', cursive;
    font-size: 48px;
    color: gold;
    text-align: center;
    padding-top: 20px;
}

.spanAlignment {
    text-align: center;
}

.addShoeHeader2 {
    font-family: 'Barrio', cursive;
    font-size: 36px;
    color: gold;
    text-align: center;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.resetButtonWrapper {
    padding-top: 10px;
}

.control-label {
    font-family: 'Amatic SC', cursive;
    font-size: 38px;
    color: gold;
}

.sideBySide {
    padding-top: 7vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
}

.aboutDisplay {
    display: flex;
}

.contactLinks:hover {
    background: gold;
    color: black;
    font-size: 36px;
}

.contactInfo {
    width: 600px;
    height: 480px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    color: gold;
    margin: auto;
    font-family: 'Amatic SC', cursive;
}

.techUsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: gold;
}

.techHeader {
    padding-bottom: 10px;
}

.techUsed li {
    list-style-type: circle;
    padding-left: 20px;
}

.techUsed2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: gold;
    padding-bottom: 40px;
    line-height: 125%;
}

.techUsed2 li {
    list-style-type: circle;
    padding-left: 20px;
}

.thanks:hover {
    cursor: pointer;
    color: blue;
    font-size: 26px;
}

.sneakerBaseLogoWrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sneakerBaseLogo {
    width: 50vw;
    height: auto;
    display: flex;
}

.endTitle {
    font-size: 7vw;
    font-family: 'Barrio', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.scottGourley {
    font-size: 28px;
}

.test {
    position: absolute !important;
}

.submitNewShoe {
    display: flex;
    flex-direction: column;
}

.submitNewShoeButtonWrapper {
    padding-top: 20px;
}

.submitNewShoeButton {
    background: gold;
    color: darkred;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    width: 220px;
    height: 50px;
    border: 0;
    border-radius: 4px;
}

.submitNewShoeButton:hover {
    background: black;
    color: gold;
}

.submitDetails {
    display: flex;
    flex-direction: column;
}

.submitDetailsButtonWrapper {
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

.submitDetailsButton {
    background: gold;
    color: darkred;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    width: 220px;
    height: 50px;
    border: 0;
    border-radius: 4px;
}

.submitDetailsButton:hover {
    background: black;
    color: gold;
}

@media (max-width: 4096px) {
    .menu {
        display: none;
    }
}

@media (max-width: 1920px) {
    .menu {
        display: none;
    }
}

@media(max-width: 1480px) {
    .menu {
        display: none;
    }
    .searchMenu {
        font-size: 24px;
    }
    .ul-list {
        font-size: 36px;
        /*color: green*/
    }
    .ul-list:hover {
        font-size: 36px;
        /*color: green*/
    }
}

@media(max-width: 1120px) {
    .searchMenu {
        width: 30vw;
        font-size: 32px;
    }
    .shoeDisplay {
        left: 30vw;
    }
    .searchBox {
        width: 30vw;
    }
    .dropdown {
        width: 30vw;
    }
}

@media(max-width: 850px) {
    .welcome {
        font-size: 24px;
    }
    .main-header {
        height: 45px;
    }
    .title {
        font-size: 42.5px;
    }
    .totalValue {
        font-size: 24px;
    }
    .searchMenu {
        display: none;
    }
    .shoeDisplay {
        left: 0;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .mobile-nav-bar {
        background: gold;
        width: 12%;
        height: auto;
        cursor: pointer;
        /*position: relative;
        z-index: 20;*/
        /*padding: 0;*/
        /*min-height: 47px;*/
    }
    .mobile-nav-bar .mobile-nav-button {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        width: 31px;
        height: 30px;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
    }
    .mobile-nav-bar .mobile-nav-button .bar {
        width: 100%;
        float: left;
        height: 4px;
        margin-bottom: 5px;
        background-color: darkred;
    }
    .mobile-nav {
        height: 0;
        z-index: 10;
    }
    .mobile-nav ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        transform: translate(0, -300px);
        -ms-transform: translate(0, -300px);
        -webkit-transform: translate(0, -300px);
        transition: all .2s ease-in-out;
    }
    .mobile-nav ul li a {
        display: block;
        padding: 10px;
        color: #c7a008;
        text-decoration: none;
        background: #3C59A5;
    }
    .mobile-nav ul li a:active {
        background: #3C59A5;
    }
    .mobile-nav.show-mobile-nav {
        height: auto;
    }
    .mobile-nav.show-mobile-nav ul {
        transform: translate(0px);
        -ms-transform: translate(0px);
        -webkit-transform: translate(0px);
    }
}

@media(max-width: 700px) {
    .searchMenu {
        font-size: 24px;
    }
    .buttonsDiv {
        flex-direction: column;
        height: 210px;
        padding-bottom: 40px;
    }
    .picAndData {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .singleShoeTitle {
        font-size: 26px;
    }
}

@media(max-width: 560px) {
    .searchMenu {
        display: none;
    }
    .testLoginInfo {
        font-size: 18px;
    }
}

@media(max-width: 500px) {
    .shoeBox {
        height: 320px;
        width: 320px;
    }
    .shoeImage {
        width: 310px;
    }
    .shoeTitle {
        font-size: 18px;
        bottom: 30px;
    }
}

@media(max-width: 455px) {}